*.cpc
*.tmp
\#*#
.#*
*.html
*.disabled
*.bak
**/sdcc-3.5.5/**/*.asm
**/img2cpc/Makefile.this
**/sdcc-3.5.5/share/
**/winape/
*.mp3
*.wav
*.status
*.log
*~
*.bak
*.bin
*.bin.log
*.binamsdos
*.binamsdos.log
build_config.inc
*.buildtree/
*.cdt
download
*.downloadlog.txt
*.dsk
*.ihx
*.installtree/
*.lib
*.lk
*.lst
*.map
*.noi
*.opt
*.ref
*.rel
*.rst
*.sym
*.tar.bz2
*.tgz
*.tmp
*.voc
*.o
bin/
obj/

printer.txt
*.dump*_*.dot
*~HEAD
*~junk
*~Junk

*.binamsdos
*.binamsdos.log
cpctelera/tools/sdcc-3.5.0/share
