*.cpc
*.tmp
\#*#
.#*
*.html
*.disabled
*.bak

*.status
*.log
*~
*.asm
*.bak
*.bin
*.bin.log
*.binamsdos
*.binamsdos.log
build_config.inc
*.buildtree/
*.cdt
download
*.downloadlog.txt
*.dsk
*.ihx
*.installtree/
*.lib
*.lk
*.lst
*.map
*.noi
*.opt
*.ref
*.rel
*.rst
*.sym
*.tar.bz2
*.tgz
*.tmp
*.voc
*.o
bin/
obj/

printer.txt
*.dump*_*.dot
*~HEAD
*~junk
*~Junk

*.binamsdos
*.binamsdos.log
cpctelera/tools/sdcc-3.4.3/share
